Flask==2.2.5
Flask-Babel==2.0.0
humanize
Flask-Login
Flask-SocketIO
flask_sqlalchemy
gunicorn
eventlet
python-dotenv
email-validator
WTForms
flask-wtf
flask-migrate
flask_cors
stripe
flask-Mail
flask_talisman
psycopg2-binary
Flask-Babel