{% extends "base.html" %}
{% block title %}تغيير كلمة المرور{% endblock %}

{% block content %}
<div style="max-width: 500px; margin: auto; padding: 30px;">
    <h2 style="color: #bd003f;">🔒 تغيير كلمة المرور</h2>

    <form method="POST">
        <label>كلمة المرور الحالية:</label>
        <input type="password" name="current_password" class="form-control" required>

        <label class="mt-3">كلمة المرور الجديدة:</label>
        <input type="password" name="new_password" class="form-control" required>

        <label class="mt-3">تأكيد كلمة المرور الجديدة:</label>
        <input type="password" name="confirm_password" class="form-control" required>

        <button type="submit" class="btn btn-dark mt-4 w-100">تحديث</button>
    </form>
</div>
{% endblock %}